<p>This site is a series of short stories and flash fiction that I'm using to hone my somewhat mediocre writing skills.</p>

<p>Feel free to check out the <a href="/about">About</a> page to read a bit more about the person behind the writing.
</p>

<p>Connect with me on <a rel="me" href="https://mastodon.online/@merkaba">Mastodon</a> to give feedback or chat about the writing process in general and read more of my meandering thoughts in micro-blog format.</p>

<p><blockquote>"There is nothing to writing. All you do is sit down at a typewriter and bleed."</p> <p><strong>Ernest Hemingway</strong></blockquote></p>
